################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Liero/bin/
/Liero/obj/
/Liero/Content/bin/
/Liero/Content/obj/
